
<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}


<body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        {% include "header.html" %}
        
        <main class="px-3">
            <h1 class="cover-heading">Проекты</h1>
            <p class="lead"></p>
            <p class="lead">Тут будут проекты (может даже с картинками)</p>

        </main>

        {% include "footer.html" %}

    </div>


    </body>



</html>