<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}


<body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        {% include "header.html" %}

        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis reprehenderit quis hic tempore mollitia! Asperiores, minima similique velit, animi amet doloremque debitis quod deleniti deserunt illo quis, esse delectus quas.
        </h1>

        {% include "footer.html" %}

    </div>


    </body>



</html>